*{
	margin: 0;
	padding: 0;
}
body{
	font-family: "Open Sans";
	color: #9aa0ab;
	font-size: 15px;
}
nav, section, header, footer{
	display: block;
}

.container{
	width: 90%;
	margin:0 auto;
}
.container .cols{
float: left;
box-sizing: border-box;
}

.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

.row::after,
.container::after {
    content: "";
    clear: both;
    display: block;
}

header{
	width: 100%;
background: url("../img/banerlarg.jpg") no-repeat;

height: 1056px;
max-width: 1370px;
}
nav{
width: 90%;
max-width: 970px;
margin: 0 auto;	
}

.www ul{
 text-align: right;
}
.www ul li{
	display: inline-block;
	padding-right: 4%;
	margin-top: 25px;
	
}
.www ul li a{
	text-transform: uppercase;
	text-decoration: none;
	color: #424c53;
	font-size: 14px;
	font-family: "Montserrat";
}
.www ul li a:hover{
	color: #282e32;
	font-size: 15px;

}
.menu i{
	color: #fa5c65;
	font-size: 16px;
}
.titlenav{
	width: 90%;
max-width: 970px;
margin: 0 auto;
}
.title{
	margin-top:300px;
	color: #314a5b;
	font-size: 48px;
	font-family: "Montserrat";
	font-weight: bold;
	text-transform: uppercase;
}
.title span{
color: #fa5c65;
}
.title p{
	margin-top: 25px;
	font-size: 20px;
	text-transform: none;
	font-family: "Open Sans";
}
.title button{
	background-color: #fa5c65;
	height: 65px;
	width: 170px;
	border: none;
	border-radius: 3px;
	margin-top: 40px;
}
.title button a{
	text-decoration: none;
	color: #fff;
	text-transform: uppercase;
	font-weight: bold;
	font-size: 15px;

}

/*work*/
.work{
	width: 90%;
max-width: 970px;
	margin:80px auto;
}
.colum{
	padding-right: 5.3%;
}
.colum p{
	margin-bottom: 20px;
}
.peace{
	text-transform: uppercase;
	color: #465065;
	font-size: 26px;
	font-family: "Montserrat";
	font-weight: bold;
	
}
.peace span{
	color: #fa5c65;
}
.colum a {
	color: #fa5c65;
	text-transform: uppercase;
	text-decoration: none;
	margin-top: 15px;
}
.colum i{
	padding-left: 10px;
}